body {
  padding-top: 50px;
  background: rgb(236, 239, 244);
  background: radial-gradient(
    circle,
    rgba(236, 239, 244, 1) 0%,
    rgba(223, 227, 230, 1) 100%
  );
}

.bg-gradient-primary {
  background: rgb(253, 0, 3);
  background: linear-gradient(
    90deg,
    rgba(253, 0, 3, 1) 0%,
    rgba(171, 0, 6, 1) 80%
  );
}

.bg-gradient-gray {
  background: rgb(236, 239, 244);
  background: radial-gradient(
    circle,
    rgba(236, 239, 244, 1) 0%,
    rgba(223, 227, 230, 1) 100%
  );
}

.font-size-0_3rem {
  font-size: 0.7rem;
}

.font-size-1xs {
  font-size: 0.8rem;
  font-weight: 500;
}

.rounded-icon {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.rounded-icon.dark {
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
}

.rounded-icon.white {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #ab0006;
}

.navbar {
  padding: 0.2rem 1rem 0.2rem 1rem !important;
}

.sisuz-link {
  text-decoration: none;
  color: #ffffff;
}

.sisuz-link:hover {
  text-decoration: none;
  color: #ffffff;
}

/* owl nav */
.owl-prev span,
.owl-next span {
  /* color: #fff; */
  color: #8199a3;
  font-size: 3rem;
}

.owl-prev span:hover,
.owl-next span:hover {
  color: #8199a3;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 0;
  height: 100%;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

/* removing blue outline from buttons */
button:focus.owl-prev,
button:active.owl-prev,
button:focus.owl-next,
button:active.owl-next {
  outline: none;
}

.rounded-6 {
  border-radius: 6px;
}

.font-size-1 {
  font-size: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.list-group {
  list-style: none !important;
}

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.list-group-flush .list-group-item:last-child {
  margin-bottom: -1px;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 0;
}

.list-group-flush:last-child .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

/* Borderless */
.list-group-borderless .list-group-item {
  border: none;
}

/* Transparent */
.list-group-transparent .list-group-item {
  border-color: transparent;
  background-color: transparent;
}

.list-group-item {
  padding: 0.1rem 1.25rem !important;
  font-size: 0.7rem !important;
}

.btn.btn-orange[href]:hover,
.btn.btn-orange[href]:focus,
.btn.btn-orange[href]:active,
.btn.btn-orange[type]:hover,
.btn.btn-orange[type]:focus,
.btn.btn-orange[type]:active {
  box-shadow: 0 4px 11px rgba(119, 131, 143, 0.35);
}

.btn.btn-orange:not(label.btn),
.btn.btn-orange:not(label.btn):not([href]):not(:disabled):not(.disabled),
.btn.btn-orange:not([href]),
.btn.btn-orange:not([href]):not([href]):not(:disabled):not(.disabled) {
  background-color: #333333;
  border-color: #333333;
}

.btn.btn-orange:hover {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}

.btn.btn-orange {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}

.footer-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

@media (max-width: 767.98px) {
  body {
    padding-top: 97px;
  }
  .rounded-icon {
    height: 2.1rem;
    width: 2.1rem;
    font-size: 1.2rem;
  }
  .text-center-sm {
    width: 100%;
    text-align: center;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
  }
  .mr-auto-sm {
    margin-right: auto;
  }
  .navbar {
    padding: 0.2rem 1rem 0.5rem 1rem !important;
  }
  .footer-fixed {
    position: relative;
  }
}
